@model IEnumerable<DevOpsPortal.Models.ReportsServer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hostname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reportURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dbName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reportFolder)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hostname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dbName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportFolder)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
